 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import '_inputform.scss';
@import '_featured.scss';
@import '_classmates.scss';
// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

img {
  max-width: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
}

.container {
  @include outer-container;
}

header {
  @include span-columns(12);
  margin-bottom: 40px;

  h1 {
    @include span-columns(8 of 12);
  }

  form {
    @include span-columns(4 of 12);
  }

  input {
    display: inline-block;
  }
}

.featured {
  @include span-columns(12);
  margin-bottom: 40px;

  img {
    @include span-columns(3 of 12);
  }

  .feelings {
    @include span-columns(9 of 12);
  }
}

.classmates {
  @include span-columns(12);

  li {
    @include span-columns(1 of 12);
    @include omega(12n);
    margin-bottom: 20px;
  }
}
