 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import '_inputform.scss';
@import '_classmates.scss';
@import 'fonts';

$pink: rgb(250, 36, 114);

// Defaults Styles
body {
  background: #F7F7F7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  overflow: auto;
}

img {
  max-width: 100%;
}

ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}


// Main container

.container {
  @include outer-container;
  padding: 0 16px;
  max-width: 66%;
  float: left;
}

h1 {
  @include span-columns(12 of 12);
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
  span {
    font-family: rubberneckregular;
    color: HSLA(338, 95%, 56%, 1);
  }
}

header {
  @include span-columns(12);
  margin-bottom: 40px;
  margin-top: 40px;

  form {
    width: 100%;
  }

  input {
    display: inline-block;
    padding: 0 14px;
    border: 2px solid black;
    color: $pink;
    font-weight: bold;
    border-radius: 6px;

    &::-webkit-input-placeholder {
     color: black;
     font-weight: bold;
     letter-spacing: 1px;
    }

    &:-moz-placeholder { /* Firefox 18- */
     color: black;
     font-weight: bold;
     letter-spacing: 1px;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
     color: black;
     font-weight: bold;
     letter-spacing: 1px;
    }

    &:-ms-input-placeholder {
     color: black;
     font-weight: bold;
     letter-spacing: 1px;
    }
  }

  button {
    @include span-columns(6 of 12);
    @include shift(3);
    height: 50px;
    background-color: $pink;
    color: white;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    transition: transform .5s;

    &:hover {
      transform: scale(1.1);
      transition: transform .5s;
    }
  }
}

.featuredItem {
  @include span-columns(12);
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  /* display: none; */
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  transition: display .5s;
  h3 {
    color: $pink;
  }

  img { /* Avatar Image */
    @include span-columns(4 of 12);
    border-radius: 50%;
    border: 4px solid black;
  }
  .gif {
    border-radius: 0;
    width: 100%;
  }

  .feelings {
    @include span-columns(8 of 12);
    padding-left: 5%;
  }
}


h3.profile {
  text-align: center;
  margin: 0 0 40px 0;
  letter-spacing: 1px;
  color: $pink;
}

.profileGrid {
  @include span-columns(12);

  a {
    @include span-columns(3 of 12);
    @include omega(4n);
    margin-bottom: 20px;
  }
}

.individual {
  text-align: center;
}

.individual img {
  width: 50%;
  border-radius: 5em;
  border: 3px solid black;
  filter: sepia(1);
  transition: transform .5s, border .5s, filter .5s;
  &:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: transform .5s, border .5s, filter .5s;
    border: 3px solid $pink;
    filter: sepia(0);
  }
}

// Feed Styles
.feedContainer {
  @include outer-container;
  float: right;
  width: 260px;
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

#feed {

  h2 {
    @include span-columns(12);
    @include omega();
  }

  li {
    @include span-columns(12);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $pink;
  }

  img {
    @include span-columns(3 of 12);
    margin-bottom: 16px;
    border-radius: 50%;
    border: 2px solid white;
    filter: sepia(1);
  }

  h3 {
    @include span-columns(9 of 12);
    text-align: left;
    font-size: 1em;
    padding: 18px 0 18px 8px;
    margin: 0px;
    transition: opacity 1s, padding 1s;
  }

  p {
    @include span-columns(12 of 12);
    text-align: left;
    font-size: .8em;
    margin-top: 0;
    padding-left: 8px;
  }
}

#feedHigh, #feedLow {
  color: $pink;
}

@media (max-width: 800px){

  .container {
    max-width: 100%;
  }

  .feedContainer {
    width: 100%;
  }

  #feed h3 {
    padding: 10px 0 14px 8px;
  }

  #feed p {
    @include span-columns(9 of 12);
    @include omega();
    float: right;
  }
}

@media (max-width: 500px){

  h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 400px){

  header {
    button {
      @include span-columns(12 of 12);
      @include shift(0);
    }
  }
}
