<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>feelings app</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../styles/font/stylesheet.css">
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">
      <header>
        <h1>NoMore<span>Feels</span>.app</h1>
        <form action="" id="update">
          <input type="text" placeholder="Enter your ID" id="secretID">
          <input type="text" placeholder="High" id="highUpdate">
          <input type="text" placeholder="Low" id="lowUpdate">
          <button id="updateBtn">Update the Feelings</button>
        </form>
      </header>
      <div class="featured">
        <div class="featuredImg">
          <img src="http://placehold.it/350x350">
        </div>
        <div class="feelings">
          <h3>High</h3>
          <p class="high">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos impedit ducimus ipsa, excepturi sint numquam obcaecati, suscipit reiciendis dicta provident temporibus asperiores autem dolorem porro nihil debitis cumque odio eius.
          </p>
          <h3>Low</h3>
          <p class="low">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus fuga beatae animi cupiditate sed eaque quos repudiandae totam doloribus. Optio neque, non repudiandae tempore eaque quisquam nobis, vel culpa voluptatibus.
          </p>
        </div><!-- end of feelings -->
      </div> <!-- end of featured -->
      <div class="profileGrid">
      </div>


    </div> <!-- end of container -->

    <script type="text/template" id="grid">
      <li class="individual"
      data-avatar="<%= avatar %>"
      data-name="<%= name %>"
      data-high="<%= high %>"
      data-low="<%= low %>">
        <img src= '<%= avatar %>' />
        <!-- <p> <%= name %> </p>
        <p> <%= high %> </p>
        <p> <%= low %> </p> -->
      </li>
    </script>

    <script type="text/template" id="featuredTemp">
      <img src=" <%= avatar %> ">
      <div class="feelings">
        <h3>High</h3>
        <p class="high"><%= high %></p>
        <h3>Low</h3>
        <p class="low"><%= low %></p>
      </div><!-- end of feelings -->
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/models.js"></script>
        <script src="scripts/collections.js"></script>
        <script src="scripts/view.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
